* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: #000000;
  font-family: 'Roboto', sans-serif;
}

#app {
  padding: 0 160px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 115px;
  margin-bottom: 87px;
}

.search {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search input {
  height: 48px;
  width: 462px;
  background: #06181C;
  border-radius: 5px;
  border: none;
  padding-left: 16px;
  color: #7C7C8A;
  font-size: 16px;
  line-height: 100%;
  font-family: 'Roboto', sans-serif;
}

.search button {
  width: 170px;
  height: 48px;
  background: #065E7C;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: .3s;
}

.box-button:hover {
  background: #FFFFFF;
  color: #065E7C;
}

.box-button:hover .star path {
  fill: #065E7C;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #4A808C;
}

table * {
  font-size: 20px;
  color: #E1E1E6;
}

table th {
  background: #092D38;
  text-align: left;
  padding: 16px 0 16px 40px;
  font-weight: 700;
  line-height: 160%;
}

table tr:nth-child(odd) {
  background: rgba(6, 22, 27, 0.5);
}

table tr {
  background: #06181C;
}

table>tbody>tr:not(:last-child)>td {
  border-bottom: 1px solid #1f363a;
}

table>tbody>tr:not(:last-child(odd))>td {
  border-bottom: 1px solid #4A808C;
}

td {
  color: #E1E1E6;
  padding: 24px 40px;
}

.user a {
  text-decoration: none;
  color: #E1E1E6;
}

.user a p {
  font-weight: bold;
}

.user {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 24px 24px 24px 40px;
}

.user img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
}

.remove {
  background: transparent;
  border: none;
  color: #F75A68;
  font-size: 20px;
  line-height: 160%;
  font-weight: 700;
  cursor: pointer;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  color: #4E5455;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 25px;
}

.hide {
  display: none;
}
